[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
typer = "*"
rich = "*"
pydantic = "==1.10"
chromadb = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
